header {
    text-align: center;
    width: 600px;
    grid-row: 1;
    grid-column: 2;
    padding: 0 0 0 20px;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

#slots {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    border: 3px solid yellow;
    width: 600px;
    height: 200px;
    grid-column: 2;
    grid-row: 2;
    padding: 0 0 0 40px;
}

#slots > div {
    border: 2px solid black;
    padding: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
}

#slot-1 {
    grid-column: 1;
    grid-row: 2;
}

#slot-2 {
    grid-column: 2;
    grid-row: 2;
}

#slot-3 {
    grid-column: 3;
    grid-row: 2;
}

button {
    grid-column: 2;
    grid-row: 3;
    width: 600px;
    margin: 20px;
}

p {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    width: 600px;
    padding: 0 0 0 20px;
}